/* Keyframe animations */

/* Bear 'hide eyes' animation */
@keyframes bear-hide {
  0%      { background-position: -10px -10px; }
  20%     { background-position: -160px -10px; }
  40%     { background-position: -10px -160px; }
  60%     { background-position: -160px -160px; }
  80%     { background-position: -310px -10px; }
  100%    { background-position: -310px -160px; }
}

/* Bear 'peek from hidden' animation */
@keyframes bear-hpeek {
  0%      { background-position: -310px -160px }
  25%     { background-position: -10px -310px; }
  50%     { background-position: -160px -310px; }
  75%     { background-position: -310px -310px; }
  100%    { background-position: -460px -10px; }
}

/* Bear 'peek from looking' animation */
@keyframes bear-ipeek {
  0%      { background-position: -10px -10px; }
  14.29%  { background-position: -160px -10px; }
  28.6%   { background-position: -10px -160px; }
  42.9%   { background-position: -160px -160px; }
  57.1%   { background-position: -310px -10px; }
  71.4%   { background-position: -160px -310px; }
  85.7%   { background-position: -310px -310px; }
  100%    { background-position: -460px -10px; }
}

/* Bear 'watch' animation */
@keyframes bear-watch {
  0%      { background-position: -460px -160px; }
  33.333% { background-position: -460px -310px; }
  66.666% { background-position: -10px -460px; }
  100%    { background-position: -160px -460px; }
}
