/* CSS Reset (partial) */

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

button, [role="button"], [type=button], [type=reset], [type=submit] {
  appearance: button;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}

button, input {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
