/* Site styles */

html, body {
  font-family: var(--font-sans);
  font-size: var(--font-size);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
  margin: 0;
}

main {
  display: grid;
  place-items: center;
  width: 400px;
  min-height: 100dvh;
  margin: 0 auto;
}
